* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: url("media/artifact2.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgb(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    position: relative;
}

.nav li {
    float: right;
    list-style: none;
}

.nav a {
    text-decoration: none;
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    font-weight: 550;
    display: block;
    padding: 10px 20px;
    color: black;
}

.content {
    width: 100%;
    position: absolute;
    top: 35%;
}

.left-col {
    margin-left: 11%;
}

.left-col h1 {
    font-size: 2rem;
    color: crimson;
}

.right-col {
    float: right;
    margin-right: 11%;
    margin-top: -5%;
    display: flex;
    align-items: center;
}

.right-col p {
    font-size: 21px;
    color: black;
    font-weight: 650;
    margin-right: 20px;
}

#icon {
    cursor: pointer;
}